{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'reviews/css/reviews.css' %}">
{% endblock %}

{% block content %}
{% include 'components/navbar/navbar.html' %}
<div class="row justify-content-around">
    {% for review in reviews %}
    <div class="col-4 review-card rounded">
        <h2 class="review-dots text-center">....</h2>
        <h2 class="review-text">Title: {{ review.title|capfirst }}</h2>
        <h3 class="review-text">{{ review.description|capfirst }}</h3>
        <h4 class="review-text text-end">Author: {{ review.author }}</h4>
        <h2 class="review-dots text-center">....</h2>
    </div>
    {% endfor %}
</div>
{% include 'components/footer/footer.html' %}
{% endblock %}

