
#therapist-img {
    margin-top: 10vh;
}

#therapist-name {
    background-color: var(--theme-blue);
    height: 6rem;
    padding-top: 1rem;
    color: #fafafa;
}

#therapist-info {
    background-color: #d8d4d5b7;
    
}