{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'treatments/css/treatments.css' %}">
{% endblock %}

{% block content %}
{% include 'components/navbar/navbar.html' %}
<div class="row justify-content-around">
{% for treatment in treatments %}
<div class="col-12 col-md-4 treatment-card shadow-lg">
    <h4>{{ treatment.name }}</h4>
    <p>{{ treatment.description }}</p>
    <img src="{{ MEDIA_URL }}{{treatment.image}}" class="img-fluid rounded" alt="{{ treatment.name }}">
</div>
{% endfor %}
</div>
{% endblock %}