{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'deals/css/deals.css' %}">
{% endblock %}

{% block content %}
{% include 'components/navbar/navbar.html' %}
<div class="row justify-content-around">
{% for deal in deals %}
<div class="col-4 deal-card shadow-lg">
    <h3>{{ deal.name|capfirst }}</h3>
    <h4>Price: £{{ deal.price}}</h4>
    <p>{{ deal.description|capfirst }}</p>
    <img src="{{ MEDIA_URL }}{{ deal.image }}" class="img-fluid rounded" alt="{{ deal.name }}">
    <form action="{% url 'add_to_basket' deal.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" value="1" name="quantity" data-item_id="{{ deal.id}}" id="id_qty_{{ deal.id }}">
        <input type="submit" value="Add to basket">
        <input type="hidden" name="redirect_url" value="{{ request.path }}">
    </form>
    
</div>
{% endfor %}
{% include 'components/footer/footer.html' %}
{% endblock %}