.review-card {
    background-color: #fafafa;
    margin: 2rem;
    padding: 2rem;
    box-shadow: 5px 10px 8px 10px #888888;
}

.review-text {
    margin: 1rem;
    padding: 1rem;
}

.review-dots {
    color: var(--theme-orange);
    font-size: 3rem;
}