{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    
{% endblock %}

{% block content %}
    {% include 'components/navbar/navbar.html' %}
    
        <div class="row row-50 justify-content-center align-items-center">
            <div class="col-6 text-center" id="home-h1-wrapper">
                <h1 class="" id="home-header">Welcome to <br> Sports Massage Excellence</h1>
            </div>
        </div>
        
        <div class="row row-50 align-items-center">
            <div class="col-4 text-end">
                <button type="button" class="btn btn-primary" id="cta-button">
                    Book your session
                </button>
            </div>
        </div>

        <div class="row row-50 justify-content-center align-items-center" id="home-featured">
            <div class="col-12 text-center">
                <p>Featured treatment or deals will be here</p>
            </div>
        </div>

        <div class="row row-50 justify-content-center align-items-center" id="home-reviews">
            <div class="col-12 text-center">
                <p>Reviews will be here</p>
            </div>
        </div>
    {% include 'components/footer/footer.html' %}
{% endblock %}
