{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'reviews/css/reviews.css' %}">
{% endblock %}

{% block content %}
    {% include 'components/navbar/navbar.html' %}
    
        <div class="row row-50 justify-content-center align-items-center">
            <div class="col-6 text-center" id="home-h1-wrapper">
                <h1 class="" id="home-header">Welcome to <br> Sports Massage Excellence</h1>
            </div>
        </div>
        
        <div class="row row-50 align-items-center">
            <div class="col-4 text-end">
                <a type="button" class="btn btn-primary" id="cta-button" href="">
                    Book your session
                </a>
            </div>
        </div>

        <div class="row row-50 justify-content-around align-items-center" id="home-featured">
            <h2 class="text-center">Our Featured treatment for this month</h2>
                {% for deal in deals %}
                    {% if deal.featured %}
                    <div class="col-4 align-self-center">
                        <h2>{{ deal.name|capfirst }}</h2>
                        <h2>Price: £{{ deal.price }}</h2>
                        <p>{{ deal.description }}</p>
                        <a class="btn btn-warning" href="" type="button">Add to basket</a>
                    </div>
                    <div class="col-6 align-self-center">
                        <img src="{{ MEDIA_URL }}{{deal.image}}" class="img-fluid rounded" alt="{{ deal.name }}">
                    </div>
                    {% endif %}
                {% endfor %}
        </div>

        <div class="row row-50 justify-content-center align-items-center" id="home-reviews">
            <h2 class="text-center">What people say about us:</h2>
            {% for review in reviews %}
                {% if review.featured %}
                <div class="col-4 review-card rounded">
                    <h2 class="review-dots text-center">....</h2>
                    <h2 class="review-text">Title: {{ review.title|capfirst }}</h2>
                    <h3 class="review-text">{{ review.description|capfirst }}</h3>
                    <h4 class="review-text text-end">Author: {{ review.author }}</h4>
                    <h2 class="review-dots text-center">....</h2>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row row-50 justify-content-around align-items-center" id="home-location">
            <h2 class="text-center">Our location:</h2>
            {% for location in locations %}
            <div class="col-4 align-self-center text-center">
                <img src="{{ MEDIA_URL }}{{location.image}}" alt="{{location.image}}" class="img-fluid rounded">
            </div>
            <div class="col-4" id="location-info">
                <p>{{location.description}} </p>
            </div>
            <div class="col-4 gmap_canvas rounded">
                <iframe class="gmap_canvas" id="gmap_canvas"
                    src="https://maps.google.com/maps?q=124%20Holywell%20Hill,%20St%20Albans%20AL1%202DR,%20UK&t=&z=13&ie=UTF8&iwloc=&output=embed"
                    frameborder="0" scrolling="no">
                </iframe>
            </div>
            {% endfor %}
        </div>
{% endblock %}
