<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Register</a>
        <a class="nav-link" href="#">Log in</a>
        <a class="nav-link" href="#">Log out</a>
        <a class="nav-link" href="#">Therapist</a>
        <a class="nav-link" href="#">Treatments</a>
        <a class="nav-link" href="#">Location</a>
        <a class="nav-link" href="#">Bookings</a>
        <a class="nav-link" href="#">Reviews</a>
        <a class="nav-link" href="#">Checkout</a>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            User Section
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">User Profile</a></li>
            <li><a class="dropdown-item" href="#">Write a review</a></li>
            <li><a class="dropdown-item" href="#">Aftercare advice</a></li>
          </ul>
        </li>
    </div>
  </div>
</nav>