<footer class="row footer-container">
        <div class="col-12 text-center">
            <a href="https://www.facebook.com/" target="_blank" aria-label="find us on facebook" rel="noopener"><i
                    class="fab fa-facebook-square"></i></a>
            <a href="https://www.instagram.com/" target="_blank" aria-label="find us on instagram" rel="noopener"><i
                    class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/home" target="_blank" aria-label="find us on linkedin" rel="noopener"><i
                    class="fab fa-linkedin"></i></a>
            <a href="https://twitter.com/explore" target="_blank" aria-label="find us on twitter" rel="noopener"><i
                    class="fab fa-twitter-square"></i></a>
        </div>
</footer>