{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'location/css/location.css' %}">
{% endblock %}

{% block content %}
{% include 'components/navbar/navbar.html' %}
<div class="row">
    <div class="col-6">

    </div>
    <div class="col-2">

    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 gmap_canvas rounded">
        <iframe class="gmap_canvas" id="gmap_canvas" src="https://maps.google.com/maps?q=124%20Holywell%20Hill,%20St%20Albans%20AL1%202DR,%20UK&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no">
        </iframe>
    </div>
</div>
{% endblock %}