@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

/* Variables */

:root {
    --theme-grey: #d8d4d5;
    --theme-green: #03fcba;
    --theme-red: #ee6352;
    --theme-blue: #008dd5;
    --theme-orange: #f0803c;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Serif', serif;
    font-weight: 400;
    font-size: 2.3rem;
    background: url('/media/background.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

.main-wrapper {
    height: 100vh;
    margin-top: 5rem;
}

.navbar-nav {
    width: 100%;
}

.nav-link {
    margin-right: 2rem;
    margin-left: 2rem;
}

/* Headers */


.allauth-wrapper {
    padding-top: 10rem;
    height: 75vh;
}

.row-50 {
    min-height: 50vh;
}

/* Buttons */

#cta-button {
    background-color: var(--theme-orange);
    font-size: 2.3rem;
}


/*Toasts*/

.toast {
    font-size: 2rem;
}
.message-container {
    z-index: 9999;
}

#toast-success {
    color: var(--bs-success);
}

#toast-info {
    color: var(--bs-info);
}

#toast-warning {
    color: var(--bs-warning);
}

#toast-error {
    color: var(--bs-danger);
}

/* Footer */

.footer-container {
    margin-bottom: 2rem;
}